%ul
  %li
    %label.h3
      %i.icon-chevron-right
      = t('.edit_access')
    .checkbox
      %label.checkbox-custom.padding_checkbox_custom
        %input{:name => "allow_login", :type => "checkbox"}
          %i.icon-unchecked
        = t('.access_staff_content')
    %p
      = t('.staff_member_email')
    .row
      .col.col-lg-7.col-offset-2.padding_p_custom
        = text_field_tag :staff_member_email
  %li
    .row
      %label.h3
        %i.icon-chevron-right
        = t('.additional_access')
    .access_content
      .row.vertical_align
        .col.col-lg-3.col-lg-3_custom
          %label.h4
            %i.icon-spinner
            = "#{t('home.index.calendar')}: "
        .col.col-lg-8
          .checkbox
            %label.checkbox-custom
              %input{:name => "allow_login", :type => "checkbox"}
                %i.icon-unchecked
              = t('.access_other_staff')
      .row
        .col.col-lg-3.col-lg-3_custom
        .col.col-lg-8
          .checkbox
            %label.checkbox-custom
              %input{:name => "allow_login", :type => "checkbox"}
                %i.icon-unchecked
              = t('.view_other_appoint')
      .row
        .col.col-lg-3.col-lg-3_custom
        .col.col-lg-8
          .checkbox
            %label.checkbox-custom
              %input{:name => "allow_login", :type => "checkbox"}
                %i.icon-unchecked
              = t('view_modify_other_appoint')
      .row.vertical_align
        .col.col-lg-3.col-lg-3_custom
          %label.h4
            %i.icon-spinner
            = "#{t('menu.reviews')}: "
        .col.col-lg-8
          .checkbox
            %label.checkbox-custom
              %input{:name => "allow_login", :type => "checkbox"}
                %i.icon-unchecked
              = t('.access_review')
      .row
        .col.col-lg-3.col-lg-3_custom
        .col.col-lg-8
          .checkbox
            %label.checkbox-custom
              %input{:name => "allow_login", :type => "checkbox"}
                %i.icon-unchecked
              = t('.view_review')
      .row
        .col.col-lg-3.col-lg-3_custom
        .col.col-lg-8
          .checkbox
            %label.checkbox-custom
              %input{:name => "allow_login", :type => "checkbox"}
                %i.icon-unchecked
              = t('.view_publish_review')