
%form.form-horizontal{"data-validate" => "parsley", :method => "get"}
  .row
    %label.col.col-lg-3.control-label
      = t('users.last_name')
      %span.required *
    .col.col-lg-8
      %input.parsley-validated{"data-required" => "true", "data-type" => "text", :name => "name", :type => "text",:autofocus => true,tabindex:"1" }
  .row
    %label.col.col-lg-3.control-label
      = t('users.first_name')
      %span.required *
    .col.col-lg-8
      %input.parsley-validated{"data-required" => "true", "data-type" => "text", :name => "name", :type => "text",:autofocus => true,tabindex:"2" }
  .row
    %label.col.col-lg-3.control-label
      = t('users.new.groups')
    .col.col-lg-8
      %select{:name => "users_staff",tabindex:"3"}
        %option{:value => "1"} Group 1
        %option{:value => "2"} Group 2
  .row
    %label.col.col-lg-3.control-label
      = t('users.email_address')
    .col.col-lg-8
      %input.parsley-validated{"data-required" => "true", "data-type" => "text", :name => "name", :type => "text",:autofocus => true,tabindex:"4" }
  .row
    %label.col.col-lg-3.control-label
      = t('common.status')
    .col.col-lg-8
      %select{:name => "status", tabindex:"5"}
        %option{:value => "1"}
          = t('common.active')
        %option{:value => "0"}
          = t('common.inactive')
  .row
    %label.col.col-lg-3.control-label
      = t('users.phone')
    .col.col-lg-8
      %input.parsley-validated{"data-required" => "true", "data-type" => "text", :name => "name", :type => "text",:autofocus => true,tabindex:"7" }
  .row
    .col.col-lg-3
    .col.col-lg-8
      .checkbox
        %label.checkbox-custom
          %input{:name => "display_phone", :type => "checkbox"}
            %i.icon-unchecked
          = t('.display_phone')
  .row
    .col.col-lg-3
    .col.col-lg-8
      .checkbox
        %label.checkbox-custom
          %input{:name => "email_notice", :type => "checkbox"}
            %i.icon-unchecked
          = t('.email_noti')