#form_assign_staff  
  %div
    .row
      .col.col-lg-1
      .col.col-lg-3
        %h4 Group 1
      .clearfix
    .row
      .col.col-lg-2
      .col.col-lg-4
        .checkbox
          %label.checkbox-custom
            %input{:name => "checkcost", :type => "checkbox"}
            %i.icon-unchecked
            = "Ken Nguyen"

    .row
      .col.col-lg-2
      .col.col-lg-4
        .checkbox
          %label.checkbox-custom
            %input{:checked => 'checked',:name => "checkcost", :type => "checkbox"}
            %i.icon-unchecked
            = "Mona Lisa"

    .row
      .col.col-lg-2
      .col.col-lg-4
        .checkbox
          %label.checkbox-custom
            %input{:name => "checkcost", :type => "checkbox"}
            %i.icon-unchecked
            = "Suzuki"

    .row
      .col.col-lg-2
      .col.col-lg-4
        .checkbox
          %label.checkbox-custom
            %input{:name => "checkcost", :type => "checkbox"}
            %i.icon-unchecked
            = "Bran Lee"

    .row
      .col.col-lg-2
      .col.col-lg-4
        .checkbox
          %label.checkbox-custom
            %input{:name => "checkcost", :type => "checkbox"}
            %i.icon-unchecked
            = t('.publish_cost')

    .row
      .col.col-lg-1
      .col.col-lg-3
        %h4 Group 2
      .clearfix
    .row
      .col.col-lg-2
      .col.col-lg-4
        .checkbox
          %label.checkbox-custom
            %input{:checked => 'checked',:name => "checkcost", :type => "checkbox"}
            %i.icon-unchecked
            = "Tommy"

    .row
      .col.col-lg-2
      .col.col-lg-4
        .checkbox
          %label.checkbox-custom
            %input{:checked => 'checked',:name => "checkcost", :type => "checkbox"}
            %i.icon-unchecked
            = "Matta"

    .row
      .col.col-lg-2
      .col.col-lg-4
        .checkbox
          %label.checkbox-custom
            %input{:name => "checkcost", :type => "checkbox"}
            %i.icon-unchecked
            = "Lee"





