#table_service
  %br/  
  .row.align-right
    %input.btn.btn-primary{:type=>"button",:value=> t('button.add_new_category'), "data-toggle" => "modal", "data-target" => "#addCategory"}
  - i = 0
  - $return_hash_service.each do |key, value|
    - i = i+1
    .custom_datatable#services
      %br/
      .panel
        .button_add
          = link_to t('link.rename'),"","data-toggle" => "modal", "data-target" => "#rename", class: "text-link"
          |
          = link_to t('link.delete'), "","data-toggle" => "modal", "data-target" => "#deleteCategory", class: "text-link"
          |
          = link_to t('link.add_new_service'), new_organization_service_path, class: "text-link"
        .panel-heading
          = key
        %table.group-service-dataTable.table.table-striped.dataTable{:id => i}

      .row.text-center
        %a.btn.btn-success.button-round{:href => "#"}
          = t('button.save_sort_order')
      %br/
  / Gia xu bang so 3 la bang ko co du lieu => hien thong bao can xoa cac truong trong do
  .custom_datatable#services
    %br/
    .panel
      .button_add
        = link_to t('link.rename'),"","data-toggle" => "modal", "data-target" => "#rename", class: "text-link"
        |
        = link_to t('link.delete'), "","data-toggle" => "modal", "data-target" => "#deleteCategory", class: "text-link"
        |
        = link_to t('link.add_new_service'), new_organization_service_path, class: "text-link"
      .panel-heading
        Services 3
      %table.group-service-dataTable.table.table-striped.dataTable{:id => 3}
    %br/

#delModal.modal.fade
  = render "shared/warning_notice", :message_header => t('common.delete_confirm_header'), :message_body => t('.delete_confirm_body')
#addCategory.modal.fade
  = render "services/service_change", :message_header => t('.add_category_header'), :button_main => t('button.create_category')
#rename.modal.fade
  = render "services/service_change", :message_header => t('.rename_category_header'), :button_main => t('button.save')
#deleteCategory.modal.fade
  = render "shared/warn_notice", :message_header => t('.delete_category_header'), :message_body => t('.delete_category_body')

= javascript_include_tag "services"
