#update_admin_infor.modal.fade
  .col.col-lg-3
  .col.col-lg-6
    .model-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.model-title
            = t('.title')
        .model-body
        - if current_user
          = form_tag update_profile_organization_users_path(current_user.organization_id),:remote => true,:class =>"form-horizontal", :id=>"update_user_profile"  do 
            %br
              .table
                %br
                %div.form-group
                  %label.col.col-lg-4.control-label
                    = "#{t('.first_name')} *"
                  %div.col.col-lg-7
                    = text_field_tag 'first_name'
                  .clearfix
                %br
                %div.form-group
                  %label.col.col-lg-4.control-label
                    = "#{t('.last_name')} *"
                  %div.col.col-lg-7
                    = text_field_tag 'last_name'
                  .clearfix
                %br

                %div.form-group
                  %label.col.col-lg-4.control-label
                    = "#{t('.email')} *"
                  %div.col.col-lg-7
                    = text_field_tag 'email'
                  .clearfix
                %br

                %div.form-group
                  %label.col.col-lg-4.control-label
                    = t('.language')
                  %div.col.col-lg-7
                    / = select_tag "language", "<option>English(US)</option><option>Vietnamese</option><option>English(UK)</option><option>Japanese</option>".html_safe
                    %select#select_language{:name=>"language"}
                      %option{:value=>"en"}
                        =t(".lang_en_us")
                      %option{:value=>"ja"}
                        =t(".lang_js_japan")

                  .clearfix
                %br

                %div.form-group
                  %label.col.col-lg-4.control-label
                    = t('.time_zone')
                  %div.col.col-lg-7
                    = select_tag "time_zone", "<option>Canada/Eastern</option><option>Vietnam/Ho Chi Minh</option>".html_safe
                  .clearfix
                %br


            %div.form-group.password-container
              %label.col.col-lg-4.control-label
                = t('.password')
              %div.col.col-lg-7
                = password_field_tag 'pass',nil, :class => "strong-password"
              .clearfix
            %br

            %div.form-group
              %label.col.col-lg-4.control-label
              .col.col-lg-7
                .row
                .progress.meter
                  .progress-bar#weak
                    = t('users.password_strength.weak')
                  .progress-bar#fair
                    = t('users.password_strength.fair')
                  .progress-bar#strong
                    = t('users.password_strength.strong')
              %div.col.col-lg-1
                %a#image_help.icon-question-sign.icon-large
              .clearfix
            %br

            %div.form-group
              %label.col.col-lg-4.control-label
                = t('.password_confirm')
              %div.col.col-lg-7
                = password_field_tag 'confirm_pass'

                %br
                %button.btn.btn-success#button_update_admin{:type => "submit"}
                  = t('button.save')
                %input{:type=>"hidden",:value=>"",:id=>"hidden_user_id",:name=>"hidden_user_id"}
                .btn.btn-warning#button_update_admin{'data-dismiss' => 'modal'}
                  = t('button.cancel')
              .clearfix
      .model-footer
= javascript_include_tag "pass_meter"
:javascript
  var user_info = #{current_user.to_json || nil};
= javascript_include_tag "edit_admin_profile"





