- if is_edit
  = form_tag update_credit_card_store_owner_organization_users_path(current_user.organization_id),:remote => true,:class =>"form-horizontal", :id=>"update_credit_card_store_owner"  do
    = render :partial => 'credit_card_info', :locals => {is_edit: is_edit}
- else
  = form_tag update_credit_card_store_owner_organization_users_path(current_user.organization_id),:remote => true,:class =>"form-horizontal", :id=>"update_credit_card_store_owner"  do
    = render :partial => 'credit_card_info', :locals => {is_edit: is_edit}
    %input{:type=>"hidden",:value=> "#{params['pp_id']}",:id=>"pp_id",:name=>"pp_id"}
    %input{:type=>"hidden",:value=> "#{params['pp_price']}",:id=>"pp_price",:name=>"pp_price"}