= form_tag update_profile_store_owner_organization_users_path(current_user.organization_id),:remote => true,:class =>"form-horizontal", :id=>"update_profile_store_owner"  do
  
  .row
    %label.col.col-lg-3.control-label
      = "#{t('users.business_name')} *"
    .col.col-lg-6
      = text_field_tag "business_name", organization_name, autofocus: true
    .clearfix
  %br

  .row
    %label.col.col-lg-3.control-label
      = "#{t('users.last_name')} *"
    .col.col-lg-6
      = text_field_tag :last_name
    .clearfix
  %br

  .row
    %label.col.col-lg-3.control-label
      = "#{t('users.first_name')} *"
    .col.col-lg-6
      = text_field_tag :first_name
    .clearfix
  %br

  .row
    %label.col.col-lg-3.control-label
      = "#{t('users.email_address')} *"
    .col.col-lg-6
      = text_field_tag :email
    .clearfix
  %br        
  %p
    = t('users.password_message')
  %br
  .row
    %label.col.col-lg-3.control-label
      = t('devise.sessions.new_password')
    .col.col-lg-6
      = password_field_tag :password
    .clearfix
  %br          
  
  .row
    %label.col.col-lg-3.control-label
      = t('devise.sessions.password_confirm')
    .col.col-lg-6
      = password_field_tag :password_confirmation
    .clearfix
    %br
  .row.text-center
    %button.btn.btn-success#button_update_admin{:type => "submit"}
      = t('button.save')
    %input{:type=>"hidden",:value=>"",:id=>"hidden_user_id",:name=>"hidden_user_id"}
    

