.row.custom_datatable.store-owners#edit_store_owner
  .panel
    .panel-heading
      = t('.title') 
    #accordion2.accordion
      .accordion-group.no_border
        .accordion-heading.custom_datatable         
          .accordion-toggle#padding{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne"}  
            %i#id1.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s       
            %a.action-link
              = t('users.credit_card.account_info')
        #collapseOne.accordion-body.collapse.in
          .accordion-inner.no_border#padding_inner
            = render :partial => 'form_account_info', :locals => {organization_name: @user.organization.name}
      .accordion-group.no_border
        .accordion-heading.custom_datatable
          .accordion-toggle#padding{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTwo"}
            %i#id2.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e
            %a.action-link
              = t('users.credit_card.credit_card_info')
        #collapseTwo.accordion-body.collapse
          .accordion-inner.no_border#padding_inner
            = render :partial => 'form_credit_card_info', :locals => {billing_card_info: @user.billing_card_info}  
        
      .accordion-group.no_border
        .accordion-heading.custom_datatable
          .accordion-toggle#padding{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseThree"}
            %i#id3.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e
            %a.action-link
              = t('users.account_status_title')
        #collapseThree.accordion-body.collapse
          .accordion-inner.no_border#padding_inner
            = render :partial => 'account_status', :locals => {is_org_active: @user.organization.is_org_active}
            
      .accordion-group.no_border
        .accordion-heading.custom_datatable
          .accordion-toggle#padding{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseFour"}
            %i#id4.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e
            %a.action-link
              = t('users.payment_plan_title')
        #collapseFour.accordion-body.collapse
          .accordion-inner.no_border#payment_plan
            

= javascript_include_tag "edit_store_owner"
:javascript
  var user_info = #{@user.to_json || nil};
  var billing_card_info = #{@user.billing_card_info.to_json || nil};
  var g_pricingPlanPath = "#{pricing_plans_path}";
  var g_token = '#{form_authenticity_token}';



