.row.custom_datatable.store-owners
  .panel
    .panel-heading
      = t('.title') 
    %table.table.table_order
      %thead     
        %tr
          %th.text_left.border_cell
            = t('common.description')
          %th.text_right.border_cell
            = "#{t('common.subtotal')} (#{t('common.jpy')})"      
      %tbody
        %tr
          %td.text-left.border_cell 
            = "#{t('users.reorder.order_desc', {field: params["pp_name"], date: (DateTime.now + 30.days).strftime("%b %d, %Y")})}"
          %td.text-right.border_cell 
            = raw params["pp_price"]
        %tr
          %td.text-right
            = "#{t('common.total')} (#{t('common.jpy')})"
          %td.text-right.border_cell
            = raw params["pp_price"]
    %br/
    = render :partial => 'form_credit_card_info', :locals => {is_edit: false}
    
    %br/
= javascript_include_tag "reorder_store_owner"

:javascript
  var billing_card_info = #{@user.billing_card_info.to_json || nil};