#show_export.modal.fade.in
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          = t('.title')
      .modal-body
        %form.form-horizontal
          .col.col-lg-12
            .radio
              %label.radio-custom{:for => "xls"}
                %input#xls{:checked => "checked", :name => "export", :type => "radio", :value => "xls"}/
                %i.icon-circle-blank.checked
                = t('.export_xls')
            .radio
              %label.radio-custom{:for => "csv"}
                %input#csv{:name => "export", :type => "radio", :value => "csv"}/
                %i.icon-circle-blank
                = t('.export_csv')
        %br/
        .row.center
          %button.btn.btn-success{"data-dismiss" => "modal", :type => "submit"}
            = t('button.save')
          %button.btn.btn-warning{"data-dismiss" => "modal", :type => "submit"}
            = t('button.cancel')
      .modal-footer