#show_history.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          Marco Botton
      .modal-body
        %fieldset
          %legend
            = t('.title')
          %table.table.table-striped.dataTable
            %thead
              %tr{:role => "row"}
                %th 
                  = t('time.date')
                %th
                  = t('users.staff')
                %th
                  = t('services.service')
                %th 
                  = t('heard_from')
            %tbody{"aria-live" => "polite", "aria-relevant" => "all", :role => "alert"}
              %tr.odd
                %td Sep 1, 2013
                %td Hana
                %td Massage
                %td Newspaper
              %tr.even
                %td Sep 1, 2013
                %td Hana
                %td Massage
                %td Newspaper
              %tr.odd
                %td Sep 1, 2013
                %td Hana
                %td Massage
                %td Newspaper
              %tr.even
                %td Sep 1, 2013
                %td Hana
                %td Massage
                %td Newspaper
          %br/
        .row.center
          %buton.btn.btn-info{"data-dismiss" => "modal", :type => "button"}
            = t('button.close')
      .modal-footer
