#customers.custom_datatable
  %br/
  .panel
    .button_add
      = link_to t('link.add_new_customer'), "#{new_organization_customer_path(current_user.organization_id)}" ,:class => "btn btn-primary "
      %input.btn.btn-primary{"data-toggle" => "modal", :href => "#show_export.modal", :type => "button", :value => "#{t('button.export')}"}
    .panel-heading
      = t('.title')
    %table#customers_table.table.table-striped.dataTable
      %div


  = render "export"
  /= render "edit_note"
  = render "view_history"


  #delete_notice.modal.fade
    = render "shared/confirm_notice", :message_header => t('common.delete_confirm_header'), :message_body => t('.delete_confirm_body')

= javascript_include_tag "customers"
:javascript
  var g_editCustomerPath = "#{edit_organization_customer_path(current_user.organization_id,1)}"
  var g_newCustomerPath = "#{new_organization_customer_path(current_user.organization_id)}"
  $(document).ready(function(){
    $("nav#nav li").removeClass("active");
    $("nav#nav li#menu_customers").addClass("active");
  });