.row.custom_datatable
  .col#billing_div
    %h3 
      = t('billing_reports.name') +" #"+ "%05d"% @existed_org.id 
    %br/
    %form.form-horizontal{:method => "get"}
      %div
        .col.col-lg-6
          = t('users.business_name')
          \: 
          =@existed_org.name
        .col.col-lg-6
          = t('users.credit_card.cardholder_name')
          \: 
        .clearfix
      %br
      %div
        .col.col-lg-6
          %div
            = t('billing_reports.subcription_from')
            \:
            =@existed_org.created_at.strftime("%b %d, %Y") if !@existed_org.created_at.blank?
        .col.col-lg-6
          %div
            = t('users.credit_card.card_number')
            \: 
        .clearfix
      %br

      %div
        .col.col-lg-6
          %div
            = t('billing_reports.account_expiry')
            \:
            =@existed_org.expired_date.strftime("%b %d, %Y")
        .col.col-lg-6
          %div
            = t('billing_reports.expiration_date')
            \: 
        .clearfix
      %br

      %div
        .col.col-lg-6
          %div
            = t('billing_reports.subcription_plan')
            \:
            =@existed_org.pricing_plan.name unless @existed_org.pricing_plan.blank?
        .clearfix
      %br
      .text-center98{:style=>"float:right"}
        / %button.btn-link{'data-dismiss' => 'modal'}
        /   = t('link.back')
        %buton.btn.btn-primary#btn_export
          =link_to t('button.export'), billing_report_export_path(@existed_org.id)
      %div{:style=>"clear:both"}
      %table.table.table-bordered.table-striped.dataTable#billing_report_detail
      
=javascript_include_tag "detail_billing_report"
:javascript
  $(document).ready(function(){
    
    $("nav#nav li").removeClass("active");
    $("nav#nav li#billing-reports").addClass("active");
  });
  var g_url_billing_org ="#{billing_report_path(@existed_org.id)}"

