.modal-body

  - if is_new
    = form_tag pricing_plans_path,:remote => true,:class =>"form-horizontal", :id=>"pricing_plan_form"  do
      .row
        %label.col.col-lg-4.control-label
          = t('.name')
          %span.required *
        .col.col-lg-8
          %input{:name => "name", :type => "text",:autofocus => true,tabindex:"1" }
      .row
        %label.col.col-lg-4.control-label
          = t('.description')
        .col.col-lg-8
          %textarea{:rows => "3",tabindex:"2", name: "description"}
      .row
        %label.col.col-lg-4.control-label
          = t('.price_per_month')
          %span.required *
        .col.col-lg-6
          %input{:name => "price_per_month", :type => "text", tabindex:"3"}
        .col.col-lg-1
          %label.control-label.text-left
            JPY

      .row
        %label.col.col-lg-4.control-label
          = t('.number_of_stores')
          %span.required *
        .col.col-lg-8
          %select{:name => "number_of_stores",tabindex:"5"}
            %option{:value => "1"} 1
            %option{:value => "5"} 5
            %option{:value => "10"} 10
            %option{:value => "100"} 100
            %option{:value => "-2"} Unlimited
      .row
        %label.col.col-lg-4.control-label
          = t('.users_staff')
          %span.required *
        .col.col-lg-8
          %select{:name => "user_staff",tabindex:"6"}
            %option{:value => "1"} 1
            %option{:value => "5"} 5
            %option{:value => "10"} 10
            %option{:value => "100"} 100
            %option{:value => "-2"} Unlimited
      .row
        %label.col.col-lg-4.control-label
          = t('common.status')
          %span.required *
        .col.col-lg-8
          %select{:name => "status", tabindex:"7"}
            %option{:value => "true"}
              = t('common.active')
            %option{:value => "false"}
              = t('common.inactive')

      %br/
      .feature_table_include
        %b
          = t('.features_included')
        %br/
        %br/
        .custom_datatable#feature_include
          %table#feature_include_table.table.dataTable

        %br/
        .row.center


          %button.btn.btn-success{:type => "submit",tabindex:"11", :id => "button_save"}

            = t('button.save')
          %buton.btn.btn-warning{"data-dismiss" => "modal", :type => "button", tabindex:"12"}
            = t('button.cancel')
  - else
    = form_tag update_pricing_plan_pricing_plans_path,:remote => true,:class =>"form-horizontal", :id=>"pricing_plan_form_edit", :method => "POST"  do
      %input{:id => "pp_id",:name => "pp_id", :type => "hidden"}
      .row
        %label.col.col-lg-4.control-label
          = t('.name')
          %span.required *
        .col.col-lg-8
          %input{:name => "name", :type => "text",:autofocus => true,tabindex:"1" }
      .row
        %label.col.col-lg-4.control-label
          = t('.description')
        .col.col-lg-8
          %textarea{:rows => "3",tabindex:"2", name: "description"}
      .row
        %label.col.col-lg-4.control-label
          = t('.price_per_month')
          %span.required *
        .col.col-lg-6
          %input{:name => "price_per_month", :type => "text", tabindex:"3"}
        .col.col-lg-1
          %label.control-label.text-left
            JPY

      .row
        %label.col.col-lg-4.control-label
          = t('.number_of_stores')
          %span.required *
        .col.col-lg-8
          %select{:name => "number_of_stores",tabindex:"5"}
            %option{:value => "1"} 1
            %option{:value => "5"} 5
            %option{:value => "10"} 10
            %option{:value => "100"} 100
            %option{:value => "-2"} Unlimited
      .row
        %label.col.col-lg-4.control-label
          = t('.users_staff')
          %span.required *
        .col.col-lg-8
          %select{:name => "user_staff",tabindex:"6"}
            %option{:value => "1"} 1
            %option{:value => "5"} 5
            %option{:value => "10"} 10
            %option{:value => "100"} 100
            %option{:value => "-2"} Unlimited
      .row
        %label.col.col-lg-4.control-label
          = t('common.status')
          %span.required *
        .col.col-lg-8
          %select{:name => "status", tabindex:"7"}
            %option{:value => "true"}
              = t('common.active')
            %option{:value => "false"}
              = t('common.inactive')
      %br/
      .feature_table_include
        %b
          = t('.features_included')
        %br/
        %br/

        .custom_datatable#feature_include
          %table#feature_include_table_edit.table.dataTable

        %br/
        .row.center


          %button.btn.btn-success{:type => "submit",tabindex:"11", :id => "button_save_edit"}

            = t('button.save')
          %buton.btn.btn-warning{"data-dismiss" => "modal", :type => "button", tabindex:"12", :id => "button_cancel_edit"}
            = t('button.cancel')
.modal-footer