= form_tag create_appointment_organization_appointments_path(current_user.organization_id),:class =>"form-horizontal", :id=>"new_appointment_form"  do 
  %fieldset
    .row
      %label.col.col-lg-4.control-label
        = t('users.staff')
      .col.col-lg-7
        %select#select_staff{:name => "staff", autofocus: true}
          
      .col.col-lg-1.control-label.left
        = link_to t('link.view'), "", class: "text-link"
    .row
      %label.col.col-lg-4.control-label
        = t('services.service')
      .col.col-lg-7
        %select#select_service{:name => "service"}
          
      .col.col-lg-1.control-label.left
        = link_to t('link.view'), "", class: "text-link"
    .row
      %label.col.col-lg-4.control-label
        = t('services.cost')
      .col.col-lg-7
        = text_field_tag :cost,0
      %label.control-label
        = t('common.jpy')
    .row
      %label.col.col-lg-4.control-label
        = t('time.date_and_time')
      .col.col-lg-4
        = text_field_tag :date_customer, Date.current.strftime(t('time.short_format')), readonly: "readonly",class: "pick_date",style: "width:100%"
      .col.col-lg-3
        %select#time_appointment{:name => "time"}
    .row
      %label.col.col-lg-4.control-label
        = t('services.duration')
      .col.col-lg-4
        %select#duration_hour{:name => "hours"}
          %option{:value => "0"}0
          %option{:value => "1"}1
          %option{:value => "2"}2
          %option{:value => "3"}3
          %option{:value => "4"}4
          %option{:value => "5"}5
          %option{:value => "6"}6
          %option{:value => "7"}7
          %option{:value => "8"}8
      .col.col-lg-3
        %select#duration_min{:name => "minute"}
          %option{:value => "0"}0
          %option{:value => "15"}15
          %option{:value => "30"}30
          %option{:value => "45"}45
      %label.control-label
        = t('time.hour_per_min')
  %fieldset
    .row
      %label.col.col-lg-11.control-label

    .row
      %label.col.col-lg-4.control-label
        = t('users.last_name')
      .col.col-lg-7
        = text_field_tag :last_name
    .row
      %label.col.col-lg-4.control-label
        = t('users.first_name')
      .col.col-lg-7
        = text_field_tag :first_name
    .row
      %label.col.col-lg-4.control-label
        = t('users.gender')
      .col.col-lg-7
        %select#select_gender{:name => "gender"}
          %option{:value => "0"}
            = t('users.female')
          %option{:value => "1"}
            = t('users.male')
    .row
      %label.col.col-lg-4.control-label
        = t('users.email_address')
      .col.col-lg-7
        = text_field_tag :email_address
    .row
      %label.col.col-lg-4.control-label
        = t('users.state')
      .col.col-lg-7
        = text_field_tag :state
    .row
      %label.col.col-lg-4.control-label
        = t('users.city')
      .col.col-lg-7
        = text_field_tag :city
    .row
      %label.col.col-lg-4.control-label
        = t('users.address')
      .col.col-lg-7
        = text_field_tag :address
    .row
      %label.col.col-lg-4.control-label
        = t('users.postal_code')
      .col.col-lg-7
        = text_field_tag :postal_code
    .row
      %label.col.col-lg-4.control-label
        = t('users.country')
      .col.col-lg-7
        %select#select_country{:name => "country"}
          %option{:value => "JPN"}JAPAN
    .row
      %label.col.col-lg-4.control-label
        = t('users.phone')
      .col.col-lg-7
        = text_field_tag :phone_number
  .row
    %label.col.col-lg-4.control-label
      = t('common.note')
    .col.col-lg-7
      = text_area_tag :note
  

:javascript
  var tmp;
  var g_url_appointment_path = "#{organization_appointments_path(current_user.organization_id)}";