%form.form-horizontal
  .row
    %label.col.col-lg-3.control-label
      = t(".repeat_label")
    .col.col-lg-7
      %select{:name => "repeat_options", :id => "repeat_options"}
        %option{:value => "none"}
          = t(".repeat_none")
        %option{:value => "daily"}
          = t(".repeat_day")
        %option{:value => "weekly"}
          = t(".repeat_week")
        %option{:value => "monthly"}
          = t(".repeat_month")
        / %option{:value => "specific_day"}Specific Days
  / #specific_day.recurring_filter
  /   %br/
  /   .row.custom_datatable
  /     .panel#list-panel
  /       .panel-heading
  /         .row
  /           .label-middle
  /             %label.col.col-lg-3
  /               Recurrences
  /           .col.col-lg-1.col-offset-1.control-label
  /             Date
  /           .col.col-lg-3
  /             = text_field_tag :date_recurring, Date.current.strftime('%a ' + t('time.short_format')), :class => 'input-small', readonly: "readonly",class: "pick_date"
  /           .text-right
  /             %input.btn-primary.btn{ :type => "button", value: "Add"}
  /       %table#recurring_day_table.table.table-striped.dataTable
  /         %thead
  /           %tr
  /             %th.left Date
  /             %th.left Time
  /             %th.center Action
  /         %tbody
  /           %tr
  /             %td.left Sat 08/03/2013
  /             %td.left 9:00AM
  /             %td.center
  /           %tr
  /             %td.left Web 08/21/2013
  /             %td.left 9:00AM
  /             %td.center
  /               = link_to "Delete", "", class: "label-control"
  /           %tr
  /             %td.left Tue 09/03/2013
  /             %td.left 9:00AM
  /             %td.center
  /               = link_to "Delete", "", class: "label-control"
  #daily.recurring_filter
    %br/
    .row
      %label.col.col-lg-3.control-label
        Repeat Every
      .col.col-lg-2
        %select{name: "repeat_every", :class => "input-small"}
          - (1..5).each do |day|
            %option{value: "#{day - 1}"}#{day} day#{"s" unless day == 1}
    .row
      .col.col-lg-3.col-offset-3.special_col
        .radio
          %label.radio-custom
            %input{type: "radio", name: "daily"}
              %i.icon-circle-blank.checked
            Times
      .col.col-lg-3.control-label
        %select{name: "times"}
          %option{value: "0"}Twice
          - (1..8).each do |time|
            %option{value: "#{time}"}#{time + 2} times
    .row
      .col.col-lg-3.col-offset-3.special_col
        .radio
          %label.radio-custom
            %input{type: "radio", name: "daily"}
              %i.icon-circle-blank
            End Date
      .col.col-lg-4.control-label
        = text_field_tag :end_date_daily, Date.current.strftime('%a ' + t('time.short_format')), readonly: "readonly", class: "pick_date"
  #weekly.recurring_filter
    %br/
    .row
      %label.col.col-lg-3.control-label
        Repeat Every
      .col.col-lg-3
        %select{name: "repeat_every", :class => "input-small"}
          - (1..8).each do |week|
            %option{value: "#{week - 1}"}#{week} week#{"s" unless week == 1}
    .row
      %label.col.col-lg-3.control-label
        Repeat on
      .col.col-lg-2
        .checkbox
          %label.checkbox-custom.padding_checkbox_custom
            %input{:name => "allow_login", :type => "checkbox"}
              %i.icon-unchecked
            Mon
      .col.col-lg-2
        .checkbox
          %label.checkbox-custom.padding_checkbox_custom
            %input{:name => "allow_login", :type => "checkbox"}
              %i.icon-unchecked
            Tue
      .col.col-lg-2
        .checkbox
          %label.checkbox-custom.padding_checkbox_custom
            %input{:name => "allow_login", :type => "checkbox"}
              %i.icon-unchecked
            Wed
    .row
      .col.col-lg-2.col-offset-3
        .checkbox
          %label.checkbox-custom.padding_checkbox_custom
            %input{:name => "allow_login", :type => "checkbox"}
              %i.icon-unchecked
            Thu
      .col.col-lg-2
        .checkbox
          %label.checkbox-custom.padding_checkbox_custom
            %input{:name => "allow_login", :type => "checkbox"}
              %i.icon-unchecked
            Fri
      .col.col-lg-2
        .checkbox
          %label.checkbox-custom.padding_checkbox_custom
            %input{:name => "allow_login", :type => "checkbox"}
              %i.icon-unchecked
            Sat
      .col.col-lg-2
        .checkbox
          %label.checkbox-custom.padding_checkbox_custom
            %input{:name => "allow_login", :type => "checkbox"}
              %i.icon-unchecked
            Sun
    .row
      .col.col-lg-3.col-offset-3.special_col
        .radio
          %label.radio-custom
            %input{type: "radio", name: "weekly"}
              %i.icon-circle-blank.checked
            Times
      .col.col-lg-3.control-label
        %select{name: "times", :class => "input-small"}
          %option{value: "0"}Twice
          - (1..8).each do |time|
            %option{value: "#{time}"}#{time + 2} times
    .row
      .col.col-lg-3.col-offset-3.special_col
        .radio
          %label.radio-custom
            %input{type: "radio", name: "weekly"}
              %i.icon-circle-blank
            End Date
      .col.col-lg-3.control-label
        = text_field_tag :end_date_weekly, Date.current.strftime('%a ' + t('time.short_format')), :class => "input-small", readonly: "readonly", class: "pick_date"
  #monthly.recurring_filter
    %br/
    .row
      %label.col.col-lg-3.control-label
        Repeat Every
      .col.col-lg-3
        %select{name: "repeat_every", :class => "input-small"}
          - (1..4).each do |month|
            %option{value: "#{month - 1}"}#{month} Month#{"s" unless month == 1}
      .col.col-lg-1
        .control-label
          %a#repeat_help.icon-question-sign.icon-large
    .row
      .col.col-lg-3.col-offset-3.special_col
        .radio
          %label.radio-custom
            %input{type: "radio", name: "monthly"}
              %i.icon-circle-blank.checked
            Times
      .col.col-lg-3.control-label
        %select{name: "times", :class => "input-small"}
          %option{value: "0"}Twice
          - (1..8).each do |time|
            %option{value: "#{time}"}#{time + 2} times
    .row
      .col.col-lg-3.col-offset-3.special_col
        .radio
          %label.radio-custom
            %input{type: "radio", name: "monthly"}
              %i.icon-circle-blank
            End Date
      .col.col-lg-3.control-label
        = text_field_tag :end_date_monthly, Date.current.strftime('%a ' + t('time.short_format')), :class => "input-small", readonly: "readonly", class: "pick_date"
  #replace_confirm_notice.modal.fade
    = render "replace_confirm"

= javascript_include_tag "appointments"
/ :javascript
/   $(document).ready(function(){
/     $("#recurring_day_table").dataTable({
/       sPaginationType: "full_numbers",
/       sDom: '<"#tbhead"<"row"<"col col-lg-6 col-offset-6"f>>>rt<"#tbfoot"<"row"<"col col-lg-6"l><"col col-lg-6"p>>>',
/        aoColumnDefs:
/         [{"bSortable": false, "aTargets": [1,2]}]
/     });
/   });