.modal-dialog
  .modal-content
    .modal-header.text-center
      %h4.modal-title
        = t('.title')
    .modal-body
      %center
        = t('.message')
        .table
          %table.table.table-bordered
            %tbody
              %tr.table-head
                %td.left
                  = t('time.date')
                %td.left
                  = t('time.time')
                %td.left 
                  = t('services.duration')
                %td.left 
                  = t('locations.customer')
                %td.left 
                  = t('services.service')
                %td.center
                  = t('common.action')
              %tr
                %td.left Aug 08 2013
                %td.left 09:00AM-10:30AM
                %td.left 1: 30 hours
                %td.left Cindy Pham
                %td.left Massage
                %td.center
                  = link_to t('link.omit'), "", :class => "label-control"
              %tr
                %td.left Aug 09 2013
                %td.left 2:00PM-3:30PM
                %td.left 1: 30 hours
                %td.left Cindy Pham
                %td.left Massage
                %td.center
                  = link_to t('link.omit'), "", :class => "label-control"
    .text-center
      %a.btn.btn-primary{:href => "#"}
        = t('button.txt_yes')
      %a.btn{'data-dismiss' => 'modal'}
        = t('button.txt_no')
