#appointment
  %h4
    = t(".list")
  .btn-group{"data-toggle" => "buttons-radio"}
    %label.btn.btn-small.btn-white.active
      %input#opt-Day{:name => "options", :type => "radio", onclick: "chooseList(this)"}
      = t("button.day")
    %label.btn.btn-small.btn-white
      %input#opt-Week{:name => "options", :type => "radio", onclick: "chooseList(this)"}
      = t("button.week")
  #list_day
    .row#filter
      .col.col-lg-4
        %label
          = t('time.date')
        = text_field_tag :on_date, Date.current.strftime(t('time.short_format')), :class => 'input-small', readonly: "readonly"
      .col.col-lg-2.col-offset-6.text-right
        %a#view_report_day.text-link{:href => "#"}
          = t("link.view_report")
  #list_week.hidden
    .row#filter
      .col.col-lg-6
        %label
          = t('time.date')
        %span
          = t('common.from')
        = text_field_tag :from_date, Date.current.strftime(t('time.short_format')), :class => 'input-small', readonly: "readonly"
        %span
          = t('common.to')
        = text_field_tag :to_date, Date.current.strftime(t('time.short_format')), :class => 'input-small', readonly: "readonly"
      .col.col-lg-2.col-offset-4.text-right
        = link_to t("link.view_report"), "#{report_organization_appointments_path(type_report: "week")}",class: "text-link"
  #calendar
= javascript_include_tag "appointments"
= javascript_include_tag "jquery.ui.datepicker"
= javascript_include_tag "jquerycalendar/jquery-ui-1.10.3.custom"
= javascript_include_tag "jquerycalendar/jquery-migrate-1.2.1"
= javascript_include_tag "jquerycalendar/jquery.weekcalendar"
= stylesheet_link_tag "jquerycalendar/libs/css/smoothness/jquery-ui-1.8.11.custom.css"
= stylesheet_link_tag "jquerycalendar/jquery.weekcalendar"
= stylesheet_link_tag "jquerycalendar/skins/default"
= stylesheet_link_tag "jquerycalendar/skins/gcalendar"
= stylesheet_link_tag "custom_calendar"

:javascript
  $(document).ready(function(){
    $("nav#nav li").removeClass("active");
    $("nav#nav li#menu_appointments").addClass("active");
  });
  var reportAppoinmentPath = "#{report_organization_appointments_path}";
  var newAppoinmentPath = "#{new_organization_appointment_path}";
  var g_list_user = #{@list_user.to_json} ;
  var g_list_events = #{@list_appointments.to_json}
  var g_list;
  