#appointment
  %h3
    = t(".list")
  .btn-group{"data-toggle" => "buttons-radio"}
    %label.btn.btn-small.btn-white.active
      %input#opt-Day{:name => "options", :type => "radio", onclick: "chooseList(this)"}
      = t("button.btn-day")
    %label.btn.btn-small.btn-white
      %input#opt-Week{:name => "options", :type => "radio", onclick: "chooseList(this)"}
      = t("button.btn-week")
  #list_day
    .row#filter
      .col.col-lg-4
        %label
          Date
        = text_field_tag :on_date, Date.current.strftime(t('time.short_format')), :class => 'input-small', readonly: "readonly"
      .col.col-lg-2.col-offset-6
        = link_to t(".view_report"), "#{report_organization_appointments_path(type_report: "day")}",class: "text-link"
    .table-scoll
      .outer
        .inner
          %table.table.table-bordered
            %tbody
              %tr.table-head
                %th.fixed-col
                %td Susan Botton
                %td Magdalena Rogers
                %td Ryan Gheris
              %tr
                %th.fixed-col  9:00 AM
                %td Cindy Pham
                %td Cindy Pham
                %td
              %tr
                %th.fixed-col  9:30 AM
                %td
                  %input.btn-status.status-booked{:type=>"button", onclick: "changeStatus(this);"}
                  .custom_name
                    = link_to "Cindy Pham", "#{edit_organization_appointment_path(current_user.organization_id,1)}", class: "hover_name"
                %td
                %td
              %tr
                %th.fixed-col  10:00 AM
                %td
                %td
                %td
              %tr
                %th.fixed-col  10:30 AM
                %td
                %td
                %td
              %tr
                %th.fixed-col  11:00 AM
                %td
                %td
                %td
              %tr
                %th.fixed-col  11:30 AM
                %td
                %td
                %td
              %tr
                %th.fixed-col  12:00 AM
                %td
                %td
                %td
              %tr
                %th.fixed-col  12:30 AM
                %td
                %td
                %td
              %tr
                %th.fixed-col  1:00 PM
                %td
                %td
                %td
              %tr
                %th.fixed-col  1:30 PM
                %td
                %td
                %td
              %tr
                %th.fixed-col  2:00 PM
                %td
                %td
                %td
              %tr
                %th.fixed-col  2:30 PM
                %td
                %td
                %td
              %tr
                %th.fixed-col  3:00 PM
                %td
                %td
                %td
              %tr
                %th.fixed-col  3:30 PM
                %td
                %td
                %td
              %tr
                %th.fixed-col  4:00 PM
                %td
                %td
                %td
              %tr
                %th.fixed-col  4:30 PM
                %td
                %td
                %td
  #list_week.hidden
    .row#filter
      .col.col-lg-6
        %label
          Date
        %span
          From
        = text_field_tag :from_date, Date.current.strftime(t('time.short_format')), :class => 'input-small', readonly: "readonly"
        %span
          To
        = text_field_tag :to_date, Date.current.strftime(t('time.short_format')), :class => 'input-small', readonly: "readonly"
      .col.col-lg-2.col-offset-4
        = link_to t(".view_report"), "#{report_organization_appointments_path(type_report: "week")}",class: "text-link"
    .table-scoll
      .outer
        .inner
          %table.table.table-bordered
            %tbody
              %tr.table-head
                %th.fixed-col
                %th.th-week.center{:colspan => "7"} Susan Botton
                %th.th-week.center{:colspan => "7"} Magdalena Rogers
                %th.th-week.center{:colspan => "7"} Ryan Gheris
              %tr.table-head
                %th.fixed-col
                - 3.times do
                  %td.center Mon July 20
                  %td.center Tus July 21
                  %td.center Wed July 22
                  %td.center Thur July 23
                  %td.center Fri July 24
                  %td.center Sat July 25
                  %td.center Sun July 26
              %tr
                %th.fixed-col  9:00 AM
                - 21.times do
                  %td
              %tr
                %th.fixed-col  9:30 AM
                %td
                  %input.btn-status.status-booked{:type=>"button", onclick: "changeStatus(this);"}
                  .custom_name
                    = link_to "Cindy Pham", "#", class: "hover_name"
                - 20.times do
                  %td
              %tr
                %th.fixed-col  10:00 AM
                - 21.times do
                  %td
              %tr
                %th.fixed-col  10:30 AM
                - 21.times do
                  %td
              %tr
                %th.fixed-col  11:00 AM
                - 21.times do
                  %td
              %tr
                %th.fixed-col  11:30 AM
                - 21.times do
                  %td
              %tr
                %th.fixed-col  12:00 AM
                - 21.times do
                  %td
              %tr
                %th.fixed-col  12:30 AM
                - 21.times do
                  %td
              %tr
                %th.fixed-col  1:00 PM
                - 21.times do
                  %td
              %tr
                %th.fixed-col  1:30 PM
                - 21.times do
                  %td
              %tr
                %th.fixed-col  2:00 PM
                - 21.times do
                  %td
              %tr
                %th.fixed-col  2:30 PM
                - 21.times do
                  %td
              %tr
                %th.fixed-col  3:00 PM
                - 21.times do
                  %td
              %tr
                %th.fixed-col  3:30 PM
                - 21.times do
                  %td
              %tr
                %th.fixed-col  4:00 PM
                - 21.times do
                  %td
              %tr
                %th.fixed-col  4:30 PM
                - 21.times do
                  %td

  .explanation
    .row
      .col.col-lg-2
        .text-border.status-booked
          Green
        .explan-text
          Booked
      .col.col-lg-2
        .text-border.status-complete
          Yellow
        .explan-text
          Complete

= javascript_include_tag "appointments"
= javascript_include_tag "jquery.ui.datepicker"
:javascript
  var newAppoinmentPath = "#{new_organization_appointment_path}";