#appointment_report
  - p "--------report view---------"
  - p params["type_report"]
  - p params["current_day"]
  - p "-----------------------"
  %h3
    = t('.title')
  .row#filter
    - if params["type_report"] == "day"
      .col.col-lg-2
        %label
          = "#{t('time.date')}: "
        July 29, 2013
    - else
      .col.col-lg-4
        %label
          = "#{t('time.date')}: "
        July 20, 2013 - July 26, 2013
  .row#filter
    .col.col-lg-1.col-offset-9.text-right
      = link_to t('link.back'), "#{organization_appointments_path}",class: "text-link"
    .col.col-lg-2.text-right
      = link_to t('link.export_xls'), "",class: "text-link"

  .custom_datatable
    .panel.table-responsive
      %table#appointment_report_table.table.table-bordered.dataTable

= javascript_include_tag "appointment_report"
:javascript
  var reportType = "#{params["type_report"]}";
  var reportDate = "#{params["current_day"]}"
  var g_appointmentReportPath = "#{report_organization_appointments_path}";
