.new_form
  .column_left
    .text_input
      %div
        = t('users.user_name')
        %span.require (*)
      = f.text_field :username
    .text_input
      %div
        = t('users.email')
        %span.require (*)
      = f.text_field :email
    .text_input
      %div
        = t('users.first_name')
        %span.require (*)
      = f.text_field :first_name
    .text_input
      %div
        = t('users.last_name')
        %span.require (*)
      = f.text_field :last_name
  .column_right
    .text_input
      %div
        = t('devise.sessions.password')
        %span.require (*)
        - if edit
          %i
            = t('devise.sessions.password_change_info')
      = f.password_field :password
    .text_input
      %div
        = t('devise.sessions.password_confirmation')
        %span.require (*)
      = f.password_field :password_confirmation
    %br
  .space

= javascript_include_tag "user"