#dashboard
  %h1.left_align_format
    = t('.title')
  %br
  %h4.left_align_format
    = t('.appointment_info')
  %br
  .row
    .col.col-lg-6
      %section.panel.text-center
        .row#info
          .col.col-lg-3#current_month
            %b
              = Time.now.strftime("%b ,%Y")
          .col.col-lg-6#number
            %b
              = number_with_delimiter(@sum_month)
          .col.col-lg-3#appointments
            =t(".appointments")
    .col.col-lg-6
      %section.panel.text-center
        .row#info
          .col.col-lg-3#current_day
            %b
              =t(".to_day")
            .current
              =Time.now.strftime("%b %d ,%Y")
          .col.col-lg-6#number
            %b
              = number_with_delimiter(@sum_day)
          .col.col-lg-3#appointments
            =t(".appointments")
  %br
  %br
  %br
  %h4.left_align_format
    = t('.appointment_booked')
  %br
  .row.custom_datatable
    .panel#list-panel
      .panel-heading
        .custom_filter.text-right
          .filter-label
            = t("button.filter")
          .btn-group{"data-toggle" => "buttons-radio"}
            %label.btn.btn-small.btn-white
              %input#option-on{:name => "options", :type => "radio","data-toggle" => "modal", "data-target" => "#filter-dialog"}
              = t("button.on")
            %label.btn.btn-small.btn-white.active
              %input#option-off{:name => "options", :type => "radio"}
              = t("button.off")
      %table#appointments_booked.table.table-striped.dataTable

= render :partial => "filter"
=javascript_include_tag "dash_board"
:javascript
  var g_url_list_appointments = "#{organization_get_appointments_path(current_user.organization_id)}";
  var g_per_page = "#{@per_page}";
  var g_list_customer = #{@customers.to_json};
  var g_list_staff = #{@staffs.to_json};
  var g_list_service = #{@services.to_json};