#account_info_customer
  %form.form-horizontal
    .row
      %label.col.col-lg-3.control-label
        = t('users.last_name')
        %span *
      .col.col-lg-6
        %input.parsley-validated{"data-required" => "true", :name => "lastname",  :type => "text"}
    .row
      %label.col.col-lg-3.control-label
        = t('users.first_name')
        %span *
      .col.col-lg-6
        %input.parsley-validated{"data-required" => "true", :name => "firstname", :type => "text"}
    .row
      %label.col.col-lg-3.control-label
        = t('users.date_of_birth')        
      %div
        %input{"data-format" => "DD-MM-YYYY", "data-template" => "D  MMM  YYYY", :name => "dateofbirth", :style => "display: none;", :type => "text", :value => "21-12-2012"}/
        %span.col.col-lg-2
          %select.day{:placeholder => 'DD'}            
            - (1..31).each do |i|            
              %option{:value => "#{i}"} 
                = i
            
        %span.col.col-lg-2
          %select.month{:placeholder => 'MM'}      
            - (1..12).each do |j|            
              %option{:value => "#{j}"} 
                = j          
        %span.col.col-lg-2
          %select.year{:placeholder => 'YYYY'}            
            - (1970..2015).reverse_each do |k|            
              %option{:value => "#{k}"} 
                = k        
    .row
      %label.col.col-lg-3.control-label
        = t('users.gender')        
      .col.col-lg-6
        %select{:name => "gender"}
          %option{:value => "1"}
            = t('users.male')
          %option{:value => "0"}
            = t('users.female')    
    .row
      %label.col.col-lg-3.control-label
        = t('user.state')       
      .col.col-lg-6
        %input.parsley-validated{"data-required" => "true", :name => "state", :type => "text"}
    .row
      %label.col.col-lg-3.control-label
        = t('users.city')      
      .col.col-lg-6
        %input.parsley-validated{"data-required" => "true", :name => "city",:type => "text"}
    .row
      %label.col.col-lg-3.control-label
        = t('users.address')        
      .col.col-lg-6
        %input.parsley-validated{"data-required" => "true", :name => "address", :type => "text"}/
    .row
      %label.col.col-lg-3.control-label
        = t('users.postal_code')        
      .col.col-lg-6
        %input.parsley-validated{"data-required" => "true", :name => "postalcode",  :type => "text"}/
    .row
      %label.col.col-lg-3.control-label
        = t('users.country')        
      .col.col-lg-6
        %select{:name => "status"}
          %option{:value => "1"} USA
          %option{:value => "0"} Vietnam
    .row
      %label.col.col-lg-3.control-label
        = t('users.phone')        
      .col.col-lg-6
        %input{:type => "text"}/
    .row
      .col.col-lg-1
      .col.col-lg-9
        %hr/
      .clearfix
    .row
      %label.col.col-lg-3.control-label
        = t('.my_login_email')
        %span *
      .col.col-lg-6
        %input.parsley-validated{"data-required" => "true", :name => "email",  :type => "email"}
        %br/
        = link_to t('.change_login_email'), '#', :class => 'text-link', :data => {:toggle => 'modal', :target => '#change_email'}
        %br/
        = link_to t('devise.forgot_password.change_your_password'), '#', :class => 'text-link', :data => {:toggle => 'modal', :target => '#change_password'}
    %br
    .row.text-center
      = link_to t('button.save'), '#', :class => 'btn btn-success button-min'

#change_email.modal.fade
  = render 'change_email'
#change_password.modal.fade
  = render 'change_password'