#change_password
  .modal-dialog    
    .modal-content
      .modal-header        
        %h4.modal-title
          = t('.title') 
      .modal-body
        %center
          %form.form-horizontal
            .row
              %label.col.col-lg-4.control-label
                = t('.old_password')
              .col.col-lg-8            
                = password_field_tag "old_password", '', :autofocus => true
              .clearfix
            .row
              %label.col.col-lg-4.control-label
                = t('devise.sessions.new_password')
              .col.col-lg-8            
                = password_field_tag "new_password"
              .clearfix
            .row
              %label.col.col-lg-4.control-label
                = t('devise.sessions.password_confirm')
              .col.col-lg-8            
                = password_field_tag "password_confirmation"
              .clearfix
      .text-center
        %a.btn.btn-success.button-min{:href => "#"}
          = t('button.save')
        %a.btn.btn-warning.button-min{'data-dismiss' => 'modal'}
          = t('button.cancel')
      %br/