#change_email
  .modal-dialog    
    .modal-content
      .modal-header        
        %h4.modal-title
          Change your log in email 
      .modal-body
        %center
          %form.form-horizontal
            .row
              %label.col.col-lg-5.control-label
                = t('.new_email')
              .col.col-lg-7            
                = email_field_tag "email", '', :autofocus => true
              .clearfix
            .row
              %label.col.col-lg-5.control-label
                = t('.email_confirm')
              .col.col-lg-7            
                = email_field_tag "email_confirmation"
              .clearfix
            .row
              %label.col.col-lg-5.control-label
                = t('devise.sessions.password')
              .col.col-lg-7            
                = email_field_tag "password"
              .clearfix
      .text-center
        %a.btn.btn-success.button-min{:href => "#"}
          = t('button.save')
        %a.btn.btn-warning.button-min{'data-dismiss' => 'modal'}
          = t('button.cancel')
      %br/