.panel
  - unless flash[:confirm].nil?
    %div#success_message
      .row.text-center
        = flash[:confirm]
  %br/
  %p
    = t('.review_notice')
  %br/
  %table#confirm_table.table.table-bordered.table-striped
    %thead
      %tr
        %th
          = t('subdomain.view_appoitment_detail_customer.appointment_detail')
    %tbody
      %tr
        %td
          .row
            .col.col-lg-3
              = t('subdomain.view_appoitment_detail_customer.title')
            .col.col-lg-3
              = "#{t('services.service')}: "
            .col.col-lg-4
              Top Coat
            .col.col-lg-2.text-right
              = link_to t('link.edit_detail'), '#', :class => 'text-link'
          .row
            .col.col-lg-3

            .col.col-lg-3
              = "#{t('menu.staff')}: "
            .col.col-lg-6
              Lee Dung
          .row
            .col.col-lg-3

            .col.col-lg-3
              = "#{t('time.date')}: "
            .col.col-lg-6
              Wednesday, August 13, 2013
          .row
            .col.col-lg-3

            .col.col-lg-3
              = "#{t('time.time')}: "
            .col.col-lg-6
              03:00PM
      %tr
        %td
          .row
            .col.col-lg-3
              = t('.your_details')
            .col.col-lg-7
              Tom Jee
            .col.col-lg-2.text-right
              = link_to t('link.edit_detail'), '#', :class => 'text-link'
          .row
            .col.col-lg-3
            .col.col-lg-9
              (090) 12345678
          .row
            .col.col-lg-3
            .col.col-lg-9
              tomjee@gmail.com
  %p
    = t('.leave_notice')
  %textarea{"data-rangelength" => "[20,200]", :rows => "5"}
  %br


  .row
    .actions.m-t
      = link_to 'Back', '#', :class => 'btn btn-info margin_back_confirm', data: {:target => '#form-wizard', :wizard => 'previous'}
    .text-center.margin_confirm
      = link_to t('button.confirm_appointment'), '#', :class => 'btn btn-info', data: {:target => '#form-wizard', :wizard => 'next'}