%section#customer_booking.panel
  #form-wizard.wizard.clearfix.m-b
    %ul.steps
      %li.active{"data-target" => "#service_staff_customer"}
        %span.badge.badge-info> 1
        = t('.service_staff')
      %li{"data-target" => "#date_time"}
        %span.badge> 2
        = t('time.date_time')
      %li{"data-target" => "#your_details"}
        %span.badge> 3
        = t('subdomain.view_appointment_detail_customer.your_details')
      %li{"data-target" => "#confirm"}
        %span.badge> 4
        = t('.confirm')
      %li{"data-target" => "#finished"}
        %span.badge> 5
        = t('.finished')
  .step-content
    %form
      #service_staff_customer.step-pane.active
        = render 'service_staff_customer'
      #date_time.step-pane
        = render 'date_time_customer'
      #your_details.step-pane
        = render 'your_details_customer'
      #confirm.step-pane
        = render 'confirm_customer'
      #finished.step-pane
        = render 'finished_customer'


