.row#devise-password-new-customer
  .col.col-lg-4.col-offset-4.m-t-large.centering
    %section.panel
      %header.panel-heading.text-center
        = t('devise.passwords.new.title')
      %h3.text-center
        = t('devise.passwords.new.forgot')
      .text-center
        = "#{t('devise.passwords.new.description')}."
      %br/
      %form.form-horizontal
        .block
          = email_field_tag 'email','', autofocus: true, :placeholder => 'Email'
        - if flash[:error]
          .require
            = flash[:error]
          - flash.delete :error
        .text-center
          = link_to t('button.submit'),'#', :class => "btn btn-info"
        %br/
        .text-center
          = link_to t('link.back_sign_in'), '/auth/sign_in', :class => 'text-link'      