#edit_feature.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title
          = t('.edit')
      .modal-body
        = form_tag update_feature_features_path,:remote => true,:class =>"form-horizontal", :id=>"update_feature"  do 
          .row
            %label.col.col-lg-4.control-label
              = t('.name')
              %span.required *
            .col.col-lg-8
              %input{ :name => "feature_name",:disabled =>"disabled",:id=>"feature_name", :type => "text",:autofocus => true,tabindex:"1" }
          .row
            %label.col.col-lg-4.control-label
              = t('common.description')
            .col.col-lg-8
              %textarea{:rows => "3", tabindex: "2",:name=>"description",:id => "description"}
          / .row
          /   %label.col.col-lg-4.control-label
          /     = t('.order')
          /     %span.required *
          /   .col.col-lg-8
          /     #MySpinner.spinner.input-group
          /       %input.input-big.spinner-input{:maxlength => "5", :name => "order", :type => "text",:value => "1", tabindex: "3"}
          /       .btn-group.btn-group-vertical.input-group-btn
          /         %button.btn.btn-white.spinner-up{:type => "button", tabindex: "4"}
          /           %i.icon-chevron-up
          /         %button.btn.btn-white.spinner-down{:type => "button", tabindex: "5"}
          /           %i.icon-chevron-down
          .row
            %label.col.col-lg-4.control-label
              = t('common.status')
              %span.required *
            .col.col-lg-8
              %select{:name => "status",:id =>"feature_status", tabindex: "6"}
                %option{:value => "true"}
                  = t('common.active')
                %option{:value => "false"}
                  = t('common.inactive')
              %input{:type =>"hidden",:id =>"hidden_feature_id",:name =>"hidden_feature_id"}
          %br/
          .row.center
            %button.btn.btn-success{:type => "submit", tabindex: "7"}
              = t('button.save')
            %buton.btn.btn-warning{"data-dismiss" => "modal", :type => "button", tabindex: "8"}
              = t('button.cancel')

      .modal-footer