- btn_save_id = '' if btn_save_id.blank?
- btn_cancel_id = '' if btn_cancel_id.blank?
#warning-dialog
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h4.modal-title
          = message_header
      .modal-body
        %center
          = message_body
      .text-center
        %a.btn.btn-primary{:href => "#",:id=>"#{btn_save_id}"}
          = t('button.btn-yes')
        %a.btn{"data-dismiss" => "modal", :type => "button"}
          = t('button.btn-no')
        %a.btn{"data-dismiss" => "modal", :type => "button",:id=>"#{btn_cancel_id}"}
          = t('button.cancel')
      %br/