.row.custom_datatable
  .panel
    .panel-heading
      = t('.title')
    %table#feature_table.table.table-striped.dataTable
#feature
  = render "edit_feature"
  #delete_notice.modal.fade
    = render "shared/confirm_notice", :message_header => t('common.delete_confirm_header'), :message_body => t('.delete_confirm_body'),:btn_save_id => "btn_delete_feature"
  #warning_paging.modal.fade
    = render "warning_save_order", :message_header => t('.confirm_save_order_header'), :message_body => t('.confirm_save_order_body'),:btn_save_id => "btn_save_order_popup",:btn_cancel_id =>"btn_cancel",:btn_no_id => "btn_no_order_popup"

= javascript_include_tag "features"
= stylesheet_link_tag "feature"
:javascript
  //variable Declaration

  var g_token = '#{form_authenticity_token}';
  var g_bDeleteFeature = true;
  var g_bEditFeature = true;
  var g_newFeaturePath = "#{new_feature_path}";
  var g_featuresPath = "#{features_path}";
  var g_editFeaturePath = "#{edit_feature_path( '[id]')}";
  var g_per_page = "#{@per_page}";
  var g_current_obj;
  var g_url_update_order_path= "#{update_order_features_path}";
  var g_is_change =false;
  //var tmp;
  var g_url_delete_feature_path = "#{delete_features_path}";
  var g_all_page_feature;
  $(document).ready(function(){
    $("nav#nav li").removeClass("active");
    $("nav#nav li#features").addClass("active");
  });
  var g_current_a;
  var tmp;

