.vertical-tab#form_schedule
  .tabbable.tabs-left.full-height
    %ul.nav.nav-tabs.full-height
      %li.active
        %a{"data-toggle" => "tab", :href => "#operating"}
          = t('.operating_hour')
      %li
        %a{"data-toggle" => "tab", :href => "#closed"}
          = t('.closed_date')    
    .tab-content
      #operating.tab-pane.active
        = render "form_schedule_operating"
      #closed.tab-pane
        = render "form_schedule_closed"      
  %br/
  = javascript_include_tag "show_schedule"
  = javascript_include_tag "jquery.ui.tabs"