#form_staff_loc  
  %br/
  .row.text-right.margin-fit-table
    = link_to t('button.add_new_group'), '#',:class => "btn btn-primary "

  - i = 0
  - @return_hash_staff.each do |key, value|
    - i = i+1
    .custom_datatable#services
      %br/
      .panel
        .button_add
          = link_to t('link.rename'),'#', class: "text-link"
          |
          = link_to t('link.delete'), '#', class: "text-link"
          |
          = link_to t('link.add_new_service'), '#', class: "text-link"
        .panel-heading
          = key
        %table.group-staff-dataTable.table.table-striped.dataTable{:id => i}      
      %br/
  

#delModalStaff.modal.fade
  = render "shared/warning_notice", :message_header => t('common.delete_confirm_header'), :message_body => t('.delete_confirm_body')