#locations.row.custom_datatable
  .panel
    .panel-heading
      = t('.title')
      .row.text-right
        %a.btn.btn-primary{:href => "#{new_organization_location_path}"}
          = t('button.add_new_location')
      .clearfix

    %table#table_location.table.table-striped.dataTable
      


#delModal.modal.fade
  = render "shared/warning_notice", :message_header => t('common.delete_confirm_header'), :message_body => t('.delete_confirm_body')

= javascript_include_tag "locations"
:javascript
  $(document).ready(function(){
    $("nav#nav li").removeClass("active");
    $("nav#nav li#menu_locations").addClass("active");
  });